package templates

import "github.com/andreabertanzon/todo-htmx/templates/common"

templ Index() {
	<html>
		<head>
			<title>Go app super</title>
			<link href="/css/output.css" rel="stylesheet" type="text/css"/>
		</head>
		<body>
			<div class="h-screen w-screen flex flex-col justify-center items-center">
				@Hello("Andrea")
				@common.Button("Hi")
			</div>
		</body>
	</html>
}
