package templates

templ Index() {
	<html>
		<head>
			<title>Go app super</title>
			<link href="/css/output.css" rel="stylesheet" type="text/css"/>
		</head>
		<body>
			@Hello("Andrea")
		</body>
	</html>
}
