package templates

import "github.com/andreabertanzon/todo-htmx/models"

templ TodoList(todoList []models.Todo) {
	<div>
		<h1>Todo List</h1>
		<ul>
			<li>Get milk</li>
			<li>Get eggs</li>
			<li>Get bread</li>
		</ul>
	</div>
}
